.article-sidebar {
  &-related {
    position: sticky;
    top: 14rem;
    right: 0;
    display: block;
    flex-direction: column;
    gap: $spacing-md;

    @include screen-sm {
      gap: $spacing-sm;
    }
  }
  &-item {
    width: 100%;
    display: block;
    margin-bottom: $spacing-md;
  }
}
