.article-sidebar {
  &-related {
    position: sticky;
    top: 14rem;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    cursor: pointer;

    @include screen-sm {
      gap: $spacing-sm;
    }

    &-item {
      width: 100%;
      display: block;
    }
  }
}
