.article {
  color: $color-dark;
  background-color: $color-light;
  @include border;
  @include padding-md;
  @include screen-sm {
    @include padding-sm;
  }

  @each $key, $value in $font-tags {
    #{$key} {
      font-size: $value;
      font-family: $font-primary;
      line-height: 150%;
      margin-bottom: 0.8rem;

      @if $key == "p" or $key == "span" or $key == "ul" or $key == "li" {
        @extend .font-regular;
      } @else {
        @extend .font-semibold;
      }
    }
  }

  @each $key, $value in $font-tags-mobile {
    #{$key} {
      @include screen-sm {
        font-size: $value;
      }
    }
  }

  p,
  span {
    line-height: 180%;
    margin-bottom: 1.6rem;

    @include screen-sm {
      line-height: 150%;
    }
  }

  ul {
    margin-left: $spacing-md;
    margin-bottom: $spacing-sm;
  }

  a {
    text-decoration: underline;
    color: $color-primary;

    & > span {
      font-weight: map-get($map: $font-weights, $key: "regular");
    }
  }

  blockquote {
    @include border;
    @include padding-sm-inline;
    @include padding-xs-vertical;
    @include margin-md-vertical;

    font-size: map-get($map: $font-sizes, $key: "xs");
    p {
      margin-bottom: 0;
      font-size: inherit;
    }

    br.hidden {
      @include screen-sm {
        display: block;
      }
    }
  }
}
