.article-share {
  display: flex;
  gap: $spacing-md;
  align-items: center;
  justify-content: center;

  button {
    outline: none;
    background-color: $color-light;
    border: none;
    font-size: 0;
    @include border;
    @include padding-sm;
    width: 100%;
  }
}
