.article-sidebar {
  position: sticky;
  top: 14rem;
  right: 0;

  &-related {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    cursor: pointer;

    @include screen-sm {
      gap: $spacing-sm;
    }
  }
}
