.article {
  color: $color-black;
  background-color: $color-white;
  @include border;
  @include padding-md;
  @include screen-sm {
    @include padding-sm;
  }

  @each $key, $value in $font-tags {
    #{$key} {
      font-size: $value;
      font-family: $font-primary;
      line-height: 150%;
      margin-bottom: 0.8rem;

      @if $key == "p" or $key == "span" {
        @extend .font-regular;
      } @else {
        @extend .font-semibold;
      }
    }
  }

  @each $key, $value in $font-tags-mobile {
    #{$key} {
      @include screen-sm {
        font-size: $value;
      }
    }
  }

  p,
  span {
    line-height: 180%;
    margin-bottom: 1.6rem;

    @include screen-sm {
      line-height: 150%;
    }
  }
}
