.card {
  @include border;
  @include padding-md;
  @include shadow-on-hover(0.8);
  display: block;
  position: relative;
  height: 100%;

  @include screen-sm {
    @include padding-sm;
  }

  &-title {
    margin-bottom: $spacing-xs;
  }

  &-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $color-light;
    top: 0;
    left: 0;
    z-index: -50;
  }

  &-subtitle {
    color: $color-dark;
    // opacity: 0.5;
    margin-bottom: 0.8rem;
  }

  &-tags {
    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;
  }

  &-summary {
    margin-top: $spacing-sm;
  }
}
