@each $key, $value in $containers {
  .container-#{$key} {
    max-width: $value;
    width: 100%;
    margin-inline: auto;
  }
}

@each $key, $value in $containers-padding {
  .container-padding-#{$key} {
    padding-inline: $value;

    @include screen-sm {
      padding-inline: $spacing-sm;
    }
  }
}
