.hero {
  @include padding-2xl;
  height: 100vh;

  @include screen-sm {
    @include padding-sm;
  }

  &-container {
    @include border;
    @include padding-md;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $color-white;
      z-index: -100;
    }
  }
  &-sub {
    position: relative;
    &::after {
      content: "";
      width: 1.6rem;
      height: 0.3rem;
      background-color: $color-primary;
      position: absolute;
      bottom: 0rem;
      right: -1.8rem;
      @include animate-blinking;

      @include screen-sm {
        width: 1.2rem;
        right: -1.4rem;
        height: 0.2rem;
      }
    }
  }
  &-name span {
    color: $color-primary;
  }

  &-actions {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
    margin-top: $spacing-md;

    @include screen-sm {
      flex-direction: column;
      margin-top: $spacing-xs;
    }

    &-projects {
      @include border;
      @include padding-xs-vertical;
      @include padding-md-inline;
      cursor: pointer;
      position: relative;
      background-color: $color-white;
      @include shadow-on-hover(0.6);

      @include screen-sm {
        @include padding-xs-vertical;
        @include padding-sm-inline;
      }
    }
  }
}
