.hero {
  @include padding-2xl;
  height: 100vh;
  .hero-container {
    @include border;
    @include padding-md;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;

    .hero-amir {
      color: $color-primary;
    }
  }
}
