.navbar-main {
  @include padding-lg-vertical;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  @include screen-sm {
    display: none;
  }

  &-container {
    @include padding-lg-inline;
    @include padding-md-vertical;
    @include border;
    background-color: $color-light;
    display: flex;
    align-items: center;
  }

  &-links {
    margin-left: auto;
  }
}
