.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  @include padding-2xl;

  &-container {
    @include padding-lg;
    display: flex;
    align-items: center;
  }

  &-links {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: $spacing-sm;
  }
}
