.navbar-mobile {
  display: none;
  @include padding-md;
  position: absolute;
  width: 100%;

  @include screen-sm {
    display: block;
  }

  &-sticky {
    @include padding-sm;
    position: sticky;
    top: 0;
    left: 0;
    @include animate-to-bottom;

    .navbar-mobile-brand {
      @include padding-xs-vertical;
    }

    .navbar-mobile-container {
      @include border;
    }
    .navbar-mobile-hamburger {
      border-left: 1px solid $color-black;
      @include padding-xs-vertical;
    }
  }

  &-brand {
    @include padding-sm-vertical;
    @include padding-sm-inline;
  }

  &-container {
    @include border;
    border-bottom: 0;
    display: flex;
    background: $color-white;
    width: 100%;
    align-items: center;
  }

  &-hamburger {
    margin-left: auto;
    @include padding-sm-vertical;
    @include padding-sm-inline;
  }

  &-menulist {
    @include border;
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    background-color: $color-white;
    z-index: 10;

    &-slidein {
      @include animate-slide-in;
    }
    &-slideout {
      @include animate-slide-out;
    }

    &-container {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 4rem;
    }

    &-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }

    &-close {
      @include border;
      @include padding-xs-vertical;
      @include padding-md-inline;
    }
  }
}
