.navbar-mobile {
  display: none;
  @include padding-sm;
  position: absolute;
  width: 100%;
  z-index: 10;

  @include screen-sm {
    display: block;
  }

  &-sticky {
    @include padding-sm;
    position: sticky;
    top: 0;
    left: 0;
    @include animate-to-bottom;

    .navbar-mobile-brand {
      @include padding-xs-vertical;
    }

    .navbar-mobile-container {
      @include border;
    }
    .navbar-mobile-hamburger {
      display: flex;
      align-items: center;
      // border-left: 1px solid $color-dark;
      @include padding-xs-vertical;
      gap: $spacing-sm;

      span {
        font-size: 0;
      }
    }
  }

  &-brand {
    @include padding-sm-vertical;
    @include padding-sm-inline;
  }

  &-container {
    @include border;
    position: relative;
    border-bottom: 0;
    display: flex;
    background: $color-light;
    width: 100%;
    align-items: center;
  }

  &-hamburger {
    margin-left: auto;
    @include padding-sm-vertical;
    @include padding-sm-inline;
  }
}

.navbar-m-list {
  height: 100vh;
  width: 100%;
  background-color: $color-light;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  @include border;
  border-top: 0;
  border-bottom: 0;
  opacity: 0;

  &-slide-in {
    @include animate-slide-in;
  }

  &-slide-out {
    @include animate-slide-out;
  }

  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  &-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
  }
}
