.newsletter-form {
  background-color: transparent;
  .sib-form-container {
    @include border;
    border-radius: 0px !important;
  }

  #sib-container {
    @include padding-md;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
  }

  .sib-form-block {
    padding: 0;

    input {
      @include padding-xs;
      border-radius: 0px !important;
      outline: none;
      border: none;
      @include border;
      width: 100%;
    }

    .sib-form-block__button {
      width: 100%;
      @include border;
      background-color: transparent;
    }
  }
}
