.page-header {
  @include border;
  @include padding-md-inline;
  @include padding-sm-vertical;
  margin-bottom: $spacing-md;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    z-index: -20;
  }
  @include screen-sm {
    @include padding-sm;
    margin-bottom: $spacing-sm;
  }

  h1.page-header-title {
    margin-bottom: 0;
  }

  &-labels {
    display: flex;
    gap: $spacing-sm;
    margin-top: $spacing-xs;
    margin-bottom: $spacing-sm;

    span {
      font-size: 1.4rem;
    }
  }
}
