.text {
  color: $color-black;
}

@each $key, $value in $font-sizes {
  .text-#{$key} {
    font-size: $value;
    font-family: $font-primary;
    line-height: 150%;
  }
}

@each $key, $value in $font-sizes-mobile {
  .text-#{$key} {
    @include screen-sm {
      font-size: $value;
    }
  }
}

@each $key, $value in $font-weights {
  .font-#{$key} {
    font-weight: $value;
  }
}

@each $key, $value in $text-transforms {
  .#{$key} {
    text-transform: $value;
  }
}

.text-truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  max-height: calc(1.2em * 3); /* Line height multiplied by number of lines */
  word-wrap: break-word;
}

.text-truncate::after {
  content: "..."; /* Ellipses */
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%);
}
