.text {
  color: $color-dark;
}

@each $key, $value in $font-sizes {
  .text-#{$key} {
    font-size: $value;
    font-family: $font-primary;
    @if $key == "xl" or $key == "2xl" or $key == "3xl" or $key == "4xl" {
      line-height: 120%;
    } @else {
      line-height: 150%;
    }
  }
}

@each $key, $value in $font-sizes-mobile {
  .text-#{$key} {
    @include screen-sm {
      font-size: $value;
    }
  }
}

@each $key, $value in $font-weights {
  .font-#{$key} {
    font-weight: $value;
  }
}

@each $key, $value in $text-transforms {
  .#{$key} {
    text-transform: $value;
  }
}
