---
import Container from "../../components/Container.astro";
import Layout from "../../layouts/Layout.astro";
import Article from "../../components/Article.astro";
import ArticleSidebar from "../../components/ArticleSidebar.astro";
import PageHeader from "../../components/PageHeader.astro";
import { filteredStatus } from "../../utils/helpers";
import MetaTags from "../../components/MetaTags.astro";
import "../../styles/pages/post-page.scss";
import { MetaTagsProps, PostFrontMatter } from "../../utils/types";
import { getRelatedPosts } from "../../utils/helpers";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../content/posts/*.mdx");

  return filteredStatus(posts).map((post) => ({
    params: { slug: post.frontmatter.slug },
    props: { post },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { slug } = Astro.params;
const { title, excerpt, author, label, related } =
  frontmatter as PostFrontMatter;
const labels = frontmatter.label;

const posts = await Astro.glob("../../content/posts/*.mdx");
const relatedPosts = getRelatedPosts(related, posts);

const metaTags: MetaTagsProps = {
  title,
  keywords: label,
  author,
  description: excerpt,
};
---

<Layout>
  <MetaTags slot="meta-tags" {...metaTags} />
  <div class="post-page">
    <Container size="xl" inlinePadding="sm">
      <PageHeader title={frontmatter.title} labels={labels} />
      <div class="post-page-content">
        <Article class="post-page-article">
          <Content />
        </Article>
        <ArticleSidebar posts={relatedPosts} class="post-page-sidebar" />
      </div>
    </Container>
  </div>
</Layout>
