---
import Container from "../../components/Container.astro";
import Text from "../../components/Text.astro";
import Layout from "../../layouts/Layout.astro";
import Article from "../../components/Article.astro";
import "../../styles/pages/post-page.scss";
import ArticleSidebar from "../../components/ArticleSidebar.astro";
import Tag from "../../components/Tag.astro";
import PageHeader from "../../components/PageHeader.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../content/posts/*.md");

  return posts.map((post) => ({
    params: { slug: post.frontmatter.slug },
    props: { post },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const labels = frontmatter.label.split(", ");
---

<Layout>
  <div class="post-page">
    <Container size="xl" inlinePadding="sm">
      <PageHeader title={frontmatter.title} labels={labels} />
      <div class="post-page-content">
        <Article class="post-page-article">
          <Content />
        </Article>
        <ArticleSidebar class="post-page-sidebar" />
      </div>
    </Container>
  </div>
</Layout>
