---
import Card from "../../components/Card.astro";
import Container from "../../components/Container.astro";
import PageHeader from "../../components/PageHeader.astro";
import Text from "../../components/Text.astro";
import Layout from "../../layouts/Layout.astro";
import '../../styles/pages/blog-page.scss';
import '../../styles/pages/post-page.scss';

const posts = await Astro.glob("../../content/posts/*.mdx");
const convertDateTimeToEpoch = (date) => new Date(date).getTime()
const sortedPosts = posts.sort((a,b) => {
  const aTime = convertDateTimeToEpoch(a.frontmatter.date)
  const bTime = convertDateTimeToEpoch(b.frontmatter.date)
  if(aTime < bTime) return 1
  return -1
})
---

<Layout title="AA.DEV | My Blog Posts">
  <Container size="xl" inlinePadding="sm">
    <div class="blog">
      <PageHeader title="My Blog Posts"></PageHeader>
      <div class="blog-posts">
        {
          sortedPosts.map(({ frontmatter }) => (
            <Text tag="a" class="blog-posts-item" size="sm" href={`/blog/${frontmatter.slug}`}>
              <Card 
                title={frontmatter.title} 
                subtitle={`Posted on ${new Date(frontmatter.date).toLocaleDateString('en-MY', { year: 'numeric', month: 'long', day: 'numeric' })}`}
                summary={`${frontmatter.excerpt.substring(0,170)} ...`}
                tags={frontmatter.label.split(", ")}
              >
              </Card>
            </Text>
          ))
        }
      </div>
    </div>
  </Container>
</Layout>

