---
import Card from "../../components/Card.astro";
import Container from "../../components/Container.astro";
import PageHeader from "../../components/PageHeader.astro";
import Text from "../../components/Text.astro";
import Layout from "../../layouts/Layout.astro";
import '../../styles/pages/blog-page.scss';
import '../../styles/pages/post-page.scss';

const posts = await Astro.glob("../../content/posts/*.md");
---

<Layout title="AA.DEV | My Blog Posts">
  <Container size="xl" inlinePadding="sm">
    <div class="blog">
      <PageHeader title="My Blog Posts"></PageHeader>
      <div class="blog-posts">
        {
          posts.map(({ frontmatter }) => (
            <Text tag="a" class="blog-posts-item" size="sm" href={`/blog/${frontmatter.slug}`}>
              <Card 
                title={frontmatter.title} 
                subtitle={`Posted on ${new Date(frontmatter.date).toLocaleDateString()}`}
                summary={`${frontmatter.excerpt.substring(0,170)} ...`}
                tags={frontmatter.label.split(", ")}
              >
              </Card>
            </Text>
          ))
        }
      </div>
    </div>
  </Container>
</Layout>

