---
import Text from "../../components/Text.astro";
import Layout from "../../layouts/Layout.astro";
import { collectLabels } from "../../utils/helpers";

const posts = await Astro.glob("../../content/posts/*.md");
const labels = collectLabels(posts);
---

<Layout>
  <section>
    {
      posts.map(({ frontmatter }) => (
        <Text tag="a" size="sm" href={`/blog/${frontmatter.slug}`}>
          <h3>{frontmatter.title}</h3>
          <Text>
            Written by <Text tag="span" weight="bold">{frontmatter.author} </Text> on{" "}
            {new Date(frontmatter.date).toLocaleDateString()}
          </Text>
          <small>{frontmatter.label}</small>
        </Text>
      ))
    }
  </section>
</Layout>

<script define:vars={{ labels }}>
console.log(labels);
</script>
