// Media Screens
@mixin screen-sm {
  @media (max-width: #{$screen-max-sm}) {
    @content;
  }
}

@mixin screen-md {
  @media (max-width: #{$screen-max-md}) {
    @content;
  }
}

@mixin screen-lg {
  @media (max-width: #{$screen-max-lg}) {
    @content;
  }
}

@mixin screen-xl {
  @media (max-width: #{$screen-max-xl}) {
    @content;
  }
}

@mixin screen-2xl {
  @media (max-width: #{$screen-max-2xl}) {
    @content;
  }
}

// Borders
@mixin border {
  border: $border-width $border-color $border-type;
}

// Spacings
@mixin padding-xs {
  padding: $spacing-xs;
}
@mixin padding-xs-vertical {
  padding-top: $spacing-xs;
  padding-bottom: $spacing-xs;
}
@mixin padding-xs-inline {
  padding-inline: $spacing-xs;
}
@mixin margin-xs {
  margin: $spacing-xs;
}
@mixin margin-xs-vertical {
  margin-top: $spacing-xs;
  margin-bottom: $spacing-xs;
}
@mixin margin-xs-inline {
  margin-inline: $spacing-xs;
}
@mixin padding-sm {
  padding: $spacing-sm;
}
@mixin padding-sm-vertical {
  padding-top: $spacing-sm;
  padding-bottom: $spacing-sm;
}
@mixin padding-sm-inline {
  padding-inline: $spacing-sm;
}
@mixin margin-sm {
  margin: $spacing-sm;
}
@mixin margin-sm-vertical {
  margin-top: $spacing-sm;
  margin-bottom: $spacing-sm;
}
@mixin margin-sm-inline {
  margin-inline: $spacing-sm;
}
@mixin padding-md {
  padding: $spacing-md;
}
@mixin padding-md-vertical {
  padding-top: $spacing-md;
  padding-bottom: $spacing-md;
}
@mixin padding-md-inline {
  padding-inline: $spacing-md;
}
@mixin margin-md {
  margin: $spacing-md;
}
@mixin margin-md-vertical {
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;
}
@mixin margin-md-inline {
  margin-inline: $spacing-md;
}
@mixin padding-lg {
  padding: $spacing-lg;
}
@mixin padding-lg-vertical {
  padding-top: $spacing-lg;
  padding-bottom: $spacing-lg;
}
@mixin padding-lg-inline {
  padding-inline: $spacing-lg;
}
@mixin margin-lg {
  margin: $spacing-lg;
}
@mixin margin-lg-vertical {
  margin-top: $spacing-lg;
  margin-bottom: $spacing-lg;
}
@mixin margin-lg-inline {
  margin-inline: $spacing-lg;
}
@mixin padding-xl {
  padding: $spacing-xl;
}
@mixin padding-xl-vertical {
  padding-top: $spacing-xl;
  padding-bottom: $spacing-xl;
}
@mixin padding-xl-inline {
  padding-inline: $spacing-xl;
}
@mixin margin-xl {
  margin: $spacing-xl;
}
@mixin margin-xl-vertical {
  margin-top: $spacing-xl;
  margin-bottom: $spacing-xl;
}
@mixin margin-xl-inline {
  margin-inline: $spacing-xl;
}
@mixin padding-2xl {
  padding: $spacing-2xl;
}
@mixin padding-2xl-vertical {
  padding-top: $spacing-2xl;
  padding-bottom: $spacing-2xl;
}
@mixin padding-2xl-inline {
  padding-inline: $spacing-2xl;
}
@mixin margin-2xl {
  margin: $spacing-2xl;
}
@mixin margin-2xl-vertical {
  margin-top: $spacing-2xl;
  margin-bottom: $spacing-2xl;
}
@mixin margin-2xl-inline {
  margin-inline: $spacing-2xl;
}

// ANIMATIONS
@mixin transition($duration, $type: "all") {
  transition: #{$type} #{$duration}s ease-out;
}

@mixin animate-to-right {
  &::after {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 1;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
}

@mixin animate-blinking {
  animation: blinker 1s linear infinite;
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}

@mixin animate-to-bottom {
  animation: to-bottom 0.4s ease-out forwards;
  @keyframes to-bottom {
    0% {
      transform: translateY(-100px);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@mixin animate-slide-in {
  animation: slide-in 0.75s ease-out forwards;
  @keyframes slide-in {
    0% {
      transform: translateX(0%);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(-105%);
      opacity: 1;
    }
  }
}

@mixin animate-slide-out {
  animation: slide-out 0.75s ease-out forwards;
  @keyframes slide-out {
    0% {
      transform: translateX(-105%);
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 0;
    }
  }
}
