$docs-sidebar-width: 28rem;
.docs {
  display: flex;
  min-height: 100vh;
  font-size: 1.6rem;

  aside {
    width: $docs-sidebar-width;
    border-right: 1px solid #ccc;

    .heading {
      padding: 2.4rem;
      border-bottom: 1px solid #ccc;
      .title {
        font-size: 2.6rem;
        margin-bottom: 0.4rem;
      }
    }

    .listing {
      padding: 2.4rem;
      a {
        text-decoration: none;
        color: black;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .content {
    width: calc(100% - #{$docs-sidebar-width});
    padding: 2.4rem;
  }
}
