@import "../variables";
@import "../utilities";
@import "../components/text.scss";

.post-page {
  &-content {
    display: flex;
    gap: $spacing-md;
  }

  &-article {
    width: 70%;
    @include screen-sm {
      width: 100%;
    }
  }

  &-sidebar {
    width: 30%;
    @include screen-sm {
      display: none;
    }
  }

  pre {
    background-color: $color-bg-code !important;

    @include padding-md;
    margin-bottom: 2.4rem;

    @include screen-sm {
      @include padding-sm;
    }
  }

  code {
    background-color: rgba(204, 204, 204, 0.4);
    span {
      font-family: "Fira Code";
      font-size: 1.6rem;
      background-color: $color-bg-code;
      @extend .font-thin;
      @include screen-sm {
        font-size: 1.4rem;
        @extend .font-thin;
      }
    }

    .line {
      margin-bottom: 0rem;
      display: inline-block;
    }
  }
}
