@import "../variables";
@import "../utilities";

.post-page {
  &-title {
    margin-bottom: 3.6rem;
  }

  pre {
    background-color: $color-bg-code !important;

    @include padding-md;
    margin-bottom: 2.4rem;

    @include screen-sm {
      @include padding-sm;
    }
  }

  code {
    background-color: rgba(204, 204, 204, 0.4);
    span {
      font-family: "Fira Code";
      font-size: 1.6rem;
      background-color: $color-bg-code;

      @include screen-sm {
        font-size: 1.4rem;
      }
    }

    .line {
      margin-bottom: 0rem;
      display: inline-block;
    }
  }
}
