@import "./variables";
@import "./base";
@import "./utilities";
@import "./components";

body {
  min-height: 100vh;
  background-color: $color-white;
  position: relative;
  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -500;
    background-color: #f8fafc;
    opacity: 0.1;
    background-image: linear-gradient(#0f172a 1.1px, transparent 1.1px),
      linear-gradient(to right, #0f172a 1.1px, #f8fafc 1.1px);
    background-size: 22px 22px;
  }
}

a:focus,
a:active {
  background-color: transparent !important;
}
