@import "./variables";
@import "./base";
@import "./utilities";
@import "./components";

body {
  min-height: 100vh;
  background-color: $color-white;

  pre {
    padding: 24px;
    border-radius: 8px;
  }

  code {
    font-family: "Fira Code";
    font-size: 14px;

    .line {
      margin-bottom: 4px;
      display: inline-block;
    }
  }
}
