---
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";
---

<MainLayout>
  <div class="max-w-6xl mx-auto px-6 flex gap-6">
    <div>
      <h1 class="text-4xl font-semibold">Muhamad Amir Azmi</h1>
      <p>Front End Web Developer</p>
      <p>
        A Frontend Developer with 4 years of professional experiences in various
        industries using ReactJS and NextJS.
      </p>
    </div>
    <div class="ml-auto">
      <Image
        class="rounded-xl"
        src="/profile.png"
        alt="profile-pic"
        width="120"
        height="120"
      />
    </div>
  </div>
</MainLayout>
