---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h1>Work In Progress...Stay Tuned</h1>
	<div>
		<a href="/blog">Blog</a>
		<a href="/docs/components">Components Documentation</a>
	</div>
</Layout>
