---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Text from "../components/Text.astro";
import Container from "../components/Container.astro";
---

<Layout>
	<Hero />
	<div id="main">
		<Container size="md" inlinePadding="2xl">
			<Text tag="p" size="lg">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ut
				delectus, rem aspernatur, natus non esse unde officia perspiciatis
				consectetur temporibus dolorem, dolores laudantium laboriosam. Ullam
				voluptate iure temporibus saepe. Aut ullam libero atque est dicta,
				quisquam pariatur vitae quasi architecto cupiditate, earum obcaecati
				omnis numquam voluptates provident? Cumque officiis iusto, tempora
				voluptate quaerat quae ducimus sapiente dolor incidunt dolore placeat
				expedita laborum maxime beatae, unde delectus odit repellat explicabo!
				Minima nulla maiores incidunt vitae nisi. Assumenda iusto, eaque
				quaerat, nisi perspiciatis dolorum doloribus quidem sunt quae vero fuga,
				tempora blanditiis quo saepe expedita laboriosam maiores at aliquam. Ab
				fugiat eveniet possimus. Voluptas, in. Aliquam sed amet voluptatum
				cumque porro dolore, adipisci fugiat dolorem officiis consequuntur
				doloribus? Nostrum consectetur molestiae sed! Odio, reiciendis delectus
				animi sed alias voluptate tempore itaque a necessitatibus, deserunt
				inventore, quae dolores soluta. Obcaecati quia possimus molestias
				corrupti. Omnis, maiores illo sapiente culpa voluptatem aliquam alias
				tempora consectetur cum exercitationem quo laboriosam eius delectus
				commodi. Soluta inventore ab dolore molestias veritatis doloribus
				nesciunt natus aperiam unde exercitationem, sequi sit, eum voluptas
				numquam quibusdam? Sint perspiciatis optio deleniti at fugit
				perferendis? Eaque, expedita distinctio? Quisquam fuga reprehenderit
				porro doloremque officiis expedita odio commodi repellendus eos labore,
				similique nulla officia sint eius nemo ut rerum laboriosam iste,
				asperiores ea quas iusto, assumenda quibusdam? Vel odio repellendus
				sequi fuga repellat magni unde minus consequatur, esse, laborum dicta.
				Doloremque natus nulla illum, modi labore nemo et consequuntur mollitia
				unde, delectus quaerat sint debitis facilis placeat a eos, laboriosam
				corrupti cum. Tempore dolores aspernatur illum provident atque quibusdam
				dolor doloribus voluptates eos ipsum, at cum sint sunt quam error
				possimus architecto cumque autem cupiditate officia. Cum sint similique
				et eum nisi provident iure atque, iusto quae est aliquam, nam fuga
				ducimus praesentium quod, molestiae ab! Non rerum quibusdam animi
				tempora debitis neque suscipit totam ullam dolor alias nihil dignissimos
				iste optio, distinctio, incidunt asperiores maiores, porro aliquid.
				Ducimus id aut, voluptatum et quia ullam commodi cumque praesentium illo
				ipsa sequi voluptatibus, excepturi omnis molestias aperiam quaerat,
				officia blanditiis? Minus animi cupiditate sunt. Placeat in totam
				exercitationem officia at voluptates, suscipit ducimus cum nobis
				excepturi temporibus vitae iusto commodi quam dolores veritatis,
				aspernatur est debitis ipsa pariatur aliquam accusamus. Commodi earum
				incidunt unde, praesentium repellendus culpa minus quam doloribus, quo
				eos pariatur atque illum aliquid deleniti eius ullam esse provident
				placeat recusandae aperiam sunt maiores maxime iste? Quas vero fugiat
				minima accusantium rem architecto quisquam dolorem ex, quia similique,
				dolorum recusandae expedita commodi? Aliquam, ab neque qui aspernatur,
				enim reiciendis nisi tempore possimus nemo laboriosam ipsa eos quis et
				voluptates eius maxime velit laborum. Unde temporibus doloribus nobis
				obcaecati hic accusantium dicta labore, quos fugit culpa eum cum
				eligendi vel sint laudantium ab beatae autem quia in. Quam, ab! Rem
				architecto esse magnam, dolor quidem autem. Voluptates modi vitae nulla
				harum nam odio quis eius delectus voluptatibus? Autem ea architecto
				repellendus perferendis! Blanditiis eos dolore dolorem repudiandae ea
				explicabo sapiente doloribus praesentium? Facere labore animi delectus
				debitis eaque eveniet dolores ipsam et?
			</Text>
			<Text tag="p">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ut
				delectus, rem aspernatur, natus non esse unde officia perspiciatis
				consectetur temporibus dolorem, dolores laudantium laboriosam. Ullam
				voluptate iure temporibus saepe. Aut ullam libero atque est dicta,
				quisquam pariatur vitae quasi architecto cupiditate, earum obcaecati
				omnis numquam voluptates provident? Cumque officiis iusto, tempora
				voluptate quaerat quae ducimus sapiente dolor incidunt dolore placeat
				expedita laborum maxime beatae, unde delectus odit repellat explicabo!
				Minima nulla maiores incidunt vitae nisi. Assumenda iusto, eaque
				quaerat, nisi perspiciatis dolorum doloribus quidem sunt quae vero fuga,
				tempora blanditiis quo saepe expedita laboriosam maiores at aliquam. Ab
				fugiat eveniet possimus. Voluptas, in. Aliquam sed amet voluptatum
				cumque porro dolore, adipisci fugiat dolorem officiis consequuntur
				doloribus? Nostrum consectetur molestiae sed! Odio, reiciendis delectus
				animi sed alias voluptate tempore itaque a necessitatibus, deserunt
				inventore, quae dolores soluta. Obcaecati quia possimus molestias
				corrupti. Omnis, maiores illo sapiente culpa voluptatem aliquam alias
				tempora consectetur cum exercitationem quo laboriosam eius delectus
				commodi. Soluta inventore ab dolore molestias veritatis doloribus
				nesciunt natus aperiam unde exercitationem, sequi sit, eum voluptas
				numquam quibusdam? Sint perspiciatis optio deleniti at fugit
				perferendis? Eaque, expedita distinctio? Quisquam fuga reprehenderit
				porro doloremque officiis expedita odio commodi repellendus eos labore,
				similique nulla officia sint eius nemo ut rerum laboriosam iste,
				asperiores ea quas iusto, assumenda quibusdam? Vel odio repellendus
				sequi fuga repellat magni unde minus consequatur, esse, laborum dicta.
				Doloremque natus nulla illum, modi labore nemo et consequuntur mollitia
				unde, delectus quaerat sint debitis facilis placeat a eos, laboriosam
				corrupti cum. Tempore dolores aspernatur illum provident atque quibusdam
				dolor doloribus voluptates eos ipsum, at cum sint sunt quam error
				possimus architecto cumque autem cupiditate officia. Cum sint similique
				et eum nisi provident iure atque, iusto quae est aliquam, nam fuga
				ducimus praesentium quod, molestiae ab! Non rerum quibusdam animi
				tempora debitis neque suscipit totam ullam dolor alias nihil dignissimos
				iste optio, distinctio, incidunt asperiores maiores, porro aliquid.
				Ducimus id aut, voluptatum et quia ullam commodi cumque praesentium illo
				ipsa sequi voluptatibus, excepturi omnis molestias aperiam quaerat,
				officia blanditiis? Minus animi cupiditate sunt. Placeat in totam
				exercitationem officia at voluptates, suscipit ducimus cum nobis
				excepturi temporibus vitae iusto commodi quam dolores veritatis,
				aspernatur est debitis ipsa pariatur aliquam accusamus. Commodi earum
				incidunt unde, praesentium repellendus culpa minus quam doloribus, quo
				eos pariatur atque illum aliquid deleniti eius ullam esse provident
				placeat recusandae aperiam sunt maiores maxime iste? Quas vero fugiat
				minima accusantium rem architecto quisquam dolorem ex, quia similique,
				dolorum recusandae expedita commodi? Aliquam, ab neque qui aspernatur,
				enim reiciendis nisi tempore possimus nemo laboriosam ipsa eos quis et
				voluptates eius maxime velit laborum. Unde temporibus doloribus nobis
				obcaecati hic accusantium dicta labore, quos fugit culpa eum cum
				eligendi vel sint laudantium ab beatae autem quia in. Quam, ab! Rem
				architecto esse magnam, dolor quidem autem. Voluptates modi vitae nulla
				harum nam odio quis eius delectus voluptatibus? Autem ea architecto
				repellendus perferendis! Blanditiis eos dolore dolorem repudiandae ea
				explicabo sapiente doloribus praesentium? Facere labore animi delectus
				debitis eaque eveniet dolores ipsam et?
			</Text>
		</Container>
	</div>
</Layout>

<script>
	function checkSectionsInView() {
		const mainContent = document.querySelector("#main");
		const rect = mainContent.getBoundingClientRect();
		const navbarMainEl = document.querySelector(".navbar-main");
		const navbarEl = document.querySelector(".navbar");
		const navbarMobile = document.querySelector(".navbar-mobile");

		if (rect.top < 0) {
			navbarMainEl.classList.remove("navbar-hidden");
			navbarEl.classList.add("navbar-hidden");
			navbarMobile.classList.add("navbar-mobile-sticky");
		} else {
			navbarMainEl.classList.add("navbar-hidden");
			navbarEl.classList.remove("navbar-hidden");
			navbarMobile.classList.remove("navbar-mobile-sticky");
		}
	}

	window.addEventListener("scroll", checkSectionsInView);
	checkSectionsInView();
</script>
