---
import MainLayout from "@/layouts/MainLayout.astro";
import Container from '@/components/Container.astro'
---

<MainLayout>
	<Container>
		<div>This is the homepage</div>
	</Container>
</MainLayout>