---
import { getCollection } from "astro:content";
import HomePagination from "@components/HomePagination.astro";
import Base from "@layouts/Base.astro";
import Posts from "@layouts/Posts.astro";
import Hero from "@components/Hero.astro";

const getAllPosts = await getCollection("blog") || []

const posts = getAllPosts.sort((a, b) => {
  return b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
});
---

<Base>
  <Hero />
  <div class="md:max-w-6xl mx-auto px-8 mt-8 md:mt-12">
    <h2 class="text-3xl font-semibold mb-2">Articles</h2>
    <Posts posts={posts} />
  </div>
  <!-- {posts.length > 0 && <HomePagination />} -->
</Base>
