---
import LayoutMain from "../layouts/layout-main.astro";
import Meta from "../components/meta.astro";
---

<LayoutMain>
  <Meta title="AA.DEV | Welcome to AMIRAZMI.DEV" />
  <div>HOMEPAGER</div>
</LayoutMain>
