---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Text from "../components/Text.astro";
import Container from "../components/Container.astro";
---

<Layout>
	<Hero />
	<div id="main">
		<Container size="md" inlinePadding="2xl" />
	</div>
</Layout>

<script>
	function checkSectionsInView() {
		const mainContent = document.querySelector("#main");
		const rect = mainContent.getBoundingClientRect();
		const navbarMainEl = document.querySelector(".navbar-main");
		const navbarEl = document.querySelector(".navbar");
		const navbarMobile = document.querySelector(".navbar-mobile");

		if (rect.top < 0) {
			navbarMainEl.classList.remove("navbar-hidden");
			navbarEl.classList.add("navbar-hidden");
			navbarMobile.classList.add("navbar-mobile-sticky");
		} else {
			navbarMainEl.classList.add("navbar-hidden");
			navbarEl.classList.remove("navbar-hidden");
			navbarMobile.classList.remove("navbar-mobile-sticky");
		}
	}

	window.addEventListener("scroll", checkSectionsInView);
	checkSectionsInView();
</script>
