---
import LayoutDocs from "../../../layouts/LayoutDocs.astro";
import Typo from "../../../components/Typography.astro";
---

<LayoutDocs pageSubtitle="Components Documentation">
  <div>
    <!-- H1 -->
    <Typo tag="h1">This is H1</Typo>
    <!-- H2 -->
    <Typo tag="h2">This is H2</Typo>
    <!-- H3 -->
    <Typo>This is H3</Typo>
    <!-- H4 -->
    <Typo>This is H4</Typo>
    <!-- H5 -->
    <Typo>This is H5</Typo>
    <!-- H6 -->
    <Typo>This is H6</Typo>
    <!-- p -->
    <Typo>This is p</Typo>
    <!-- p.text-sm -->
    <Typo>This is p text-small</Typo>
    <!-- p.text-lg -->
    <Typo>This is p text-lg</Typo>
    <!-- small -->
    <Typo>This is small</Typo>
  </div>
</LayoutDocs>
