$spacing-xs: 0.8rem;
$spacing-sm: 1.6rem;
$spacing-md: 2.4rem;
$spacing-lg: 3.2rem;
$spacing-xl: 4rem;
$spacing-2xl: 4.8rem;

$spacings: (
  "xs": $spacing-xs,
  "sm": $spacing-sm,
  "md": $spacing-md,
  "lg": $spacing-lg,
  "xl": $spacing-xl,
  "2xl": $spacing-2xl,
);
