// The variables for typography basically (desktop, tablet, mobile):
// 1. Font size
// 2. Font weight
// 3. Font family

// Font Weight
$font-thin: 100;
$font-regular: 400;
$font-bold: 400;

// Font Family
$font-primary: "Roboto", sans-serif;
$font-code: "Fira Code", monospace;
