---
import Text from "./Text.astro";
import IconShare from "./icons/IconShare.astro";
import IconComment from "./icons/IconComment.astro";
---

<div class="article-share">
  <button>
    <IconShare />
  </button>
  <button>
    <IconComment />
  </button>
</div>
