---
export interface Props {
  size?: "full" | "xl" | "2xl" | "lg" | "md" | "sm";
}

const { size = "full" } = Astro.props as Props;

const classes = `container-${size} bg`;
---

<div class={classes}><slot /></div>
