---
import SocialIcons from "./SocialIcons.astro";
import Text from "./Text.astro";
---

<section class="hero">
  <div class="hero-container">
    <Text tag="h1" weight="semibold" class="hero-name">
      Hi, I Am <Text tag="span" weight="semibold" size="4xl">Muhamad Amir</Text>
    </Text>
    <Text tag="h5">Frontend Web Developer</Text>
    <div class="hero-actions">
      <SocialIcons />
      <Text tag="a" href="/projects" size="md" class="hero-actions-projects">
        View Projects
      </Text>
    </div>
  </div>
</section>
