---
import { Image } from 'astro:assets';
import config from '@config/config.json';
import SocialIcons from './SocialIcons.astro';
---

<section class="mx-auto w-full md:max-w-6xl px-4">
  <div class="w-full rounded-lg py-8 md:py-10 dark:bg-zinc-900">
    <div class="flex w-full flex-col md:items-center md:justify-between gap-8 md:flex-row">
      <div>
        <h1 class="mb-0 text-3xl font-semibold text-zinc-900 dark:text-white md:text-5xl">
          {config.author.name}
        </h1>
        <h3 class="text-2xl md:mt-1 font-medium">Frontend Developer</h3>
        <p class="hidden md:block mt-1 text-base max-w-lg text-zinc-500 dark:text-zinc-400">
          A <span class='underline font-semibold text-teal-700'>Frontend Developer</span> with 4 years of
          professional experiences in various industries using ReactJS and NextJS.
        </p>
        <SocialIcons/>
      </div>
      {
        config.author.avatar && (
          <div class="hidden rounded-lg md:block">
            <figure class="flex justify-center md:right-0">
              <Image
                class="w-80"
                width={512}
                height={512}
                src={config.author.avatar}
                alt={config.author.name}
                decoding="async"
                loading="lazy"
              />
            </figure>
          </div>
        )
      }
    </div>
  </div>
</section>
