---
import { Image } from "astro:assets";
import config from "@config/config.json";
---

<section class="md:max-w-screen-xl mx-auto md:px-8">
  <div class="rounded bg-teal-50 dark:bg-zinc-900 p-8 md:p-12">
    <div class="flex flex-col gap-8 md:flex-row items-center justify-between">
      <div class="md:w-7/12">
        <h1
          class="text-4xl md:text-5xl font-semibold text-zinc-900 dark:text-white mb-0"
        >
          {config.author.name}
        </h1>
        <p class="mt-1.5 text-lg md:text-xl text-zinc-700 dark:text-zinc-400" set:html={config.author.bio}></p>
      </div>
      {config.author.avatar && 
      <div class="rounded-lg">
        <figure class="flex justify-center md:right-0">
          <Image
            class="w-10/12 md:w-96"
            width={512}
            height={512}
            src={config.author.avatar}
            alt={config.author.name}
            decoding="async"
            loading="lazy"
          />
        </figure>
      </div>}
    </div>
  </div>
</section>
