---
import Text from "./Text.astro";
---

<section class="hero">
  <div class="hero-container">
    <Text tag="p" size="md">Welcome! My name is</Text>
    <Text tag="h1" weight="semibold">
      Muhamad <Text tag="span" size="4xl" weight="bold" class="hero-amir">
        Amir
      </Text> Azmi
    </Text>
    <Text tag="h5">Front End Developer</Text>
  </div>
</section>
