---
import { Icon } from "astro-icon";
---

<div class="flex gap-5 items-center">
  <a
    href="#"
    class="w-6 h-6 text-gray-400 hover:text-gray-800 transition-colors"
  >
    <Icon name="fa:linkedin" />
  </a>
  <a
    href="#"
    class="w-6 h-6 text-gray-400 hover:text-gray-800 transition-colors"
  >
    <Icon name="fa:github" />
  </a>
  <a
    href="#"
    class="w-6 h-6 text-gray-400 hover:text-gray-800 transition-colors"
  >
    <Icon name="fa-solid:envelope" />
  </a>
  <a
    href="#"
    class="w-6 h-6 text-gray-400 hover:text-gray-800 transition-colors"
  >
    <Icon name="fa:whatsapp" />
  </a>
</div>
