---
import Container from "./container.astro";
---

<Container>
  <div class="max-w-lg flex flex-col gap-2">
    <h1 class="text-3xl font-semibold">Muhamad Amir Azmi</h1>
    <p class="text-xl text-gray-800">Frontend Developer</p>
    <p class="text-gray-500">
      I am a Frontend Developer specializing in ReactJS & NextJS. A Javascript
      enthusiast and currently exploring Typescript and CMSes.
    </p>
  </div>
</Container>
