---
import NavbarThemeSwitcher from "./NavbarThemeSwitcher.astro";
import Text from "./Text.astro";
import IconMenu from "./icons/IconMenu.astro";
---

<nav class="navbar-mobile">
  <div class="navbar-mobile-container">
    <Text tag="a" href="/" size="lg" class="navbar-mobile-brand">AA.DEV</Text>

    <div class="navbar-mobile-hamburger">
      <Text tag="span" size="md" class="navbar-mobile-menu">
        <IconMenu />
      </Text>
      <NavbarThemeSwitcher />
    </div>
  </div>
</nav>

<div class="navbar-m-list">
  <div class="navbar-m-list-container">
    <div class="navbar-m-list-links">
      <Text tag="a" weight="semibold" size="xl" href="/">Home</Text>
      <Text tag="a" weight="semibold" size="xl" href="/projects">Projects</Text>
      <Text tag="a" weight="semibold" size="xl" href="/blog">Blog</Text>
      <Text tag="a" weight="semibold" size="xl" href="/contact">Contact</Text>
    </div>
    <Text size="xl" weight="semibold" class="navbar-m-list-close">Close</Text>
  </div>
</div>

<script>
  const menulistEl = document.querySelector(".navbar-m-list");
  const openMenuEl = document.querySelector(".navbar-mobile-menu");
  const menuCloseEl = document.querySelector(".navbar-m-list-close");
  const slideInClass = "navbar-m-list-slide-in";
  const slideOutClass = "navbar-m-list-slide-out";

  function toggleMenu() {
    const hasSlideIn = menulistEl.classList.contains(slideInClass);

    if (!hasSlideIn) {
      menulistEl.classList.add(slideInClass);
      menulistEl.classList.remove(slideOutClass);
    } else {
      menulistEl.classList.remove(slideInClass);
      menulistEl.classList.add(slideOutClass);
    }
  }

  openMenuEl && openMenuEl.addEventListener("click", toggleMenu);
  menuCloseEl.addEventListener("click", toggleMenu);
</script>
