---
import Text from "./Text.astro";
import IconLight from "./icons/IconLight.astro";
import IconDark from "./icons/IconDark.astro";
---

<div onclick="
toggleDark()
">
  <Text
    tag="span"
    class="navbar-theme-switcher navbar-theme-switcher-hidden navbar-theme-light"
  >
    <IconLight />
  </Text>
  <Text tag="span" class="navbar-theme-switcher navbar-theme-dark">
    <IconDark />
  </Text>
</div>
