---
import NavbarLinkitem from "./navbar-linkitem.astro";
import NavbarLogo from "./navbar-logo.astro";
import Container from "./container.astro";
import NavbarLinks from "./navbar-links.astro";
---

<Container>
  <nav class="flex items-center justify-between">
    <NavbarLogo />
    <NavbarLinks />
  </nav>
</Container>
