---
import Tag from "./Tag.astro";
import Text from "./Text.astro";
export interface Props {
  title: string;
  labels?: string[];
  dateCreated?: string;
  subtitle?: string;
}

const { title, labels = [], dateCreated, subtitle } = Astro.props as Props;
---

<header class="page-header">
  <Text tag="h1" weight="bold" class="page-header-title">
    {title}
  </Text>
  {
    subtitle && (
      <Text tag="p" size="sm" class="page-header-subtitle">
        {subtitle}
      </Text>
    )
  }
  <div class="page-header-items">
    {
      labels.length > 0 && (
        <div class="page-header-labels">
          {labels.sort().map((label) => (
            <Tag>{label}</Tag>
          ))}
        </div>
      )
    }
    {dateCreated && <Text>{dateCreated}</Text>}
  </div>
</header>
