---
import { Icon, Sprite } from 'astro-icon';
---

<div class="mt-4 flex gap-3 md:mt-8 md:gap-4">
  <a
    class="block h-7 w-7 text-zinc-500 hover:text-teal-700 md:h-8 md:w-8"
    href="https://www.linkedin.com/in/m-amirazmi/"
    target="_blank"
  >
    <Icon name="mdi:linkedin" />
  </a>
  <a
    class="block h-7 w-7 text-zinc-500 hover:text-teal-700 md:h-8 md:w-8"
    href="https://www.tiktok.com/@mamirazmi"
    target="_blank"
  >
    <Icon name="ic:baseline-tiktok" />
  </a>
  <a
    class="block h-7 w-7 text-zinc-500 hover:text-teal-700 md:h-8 md:w-8"
    href="https://github.com/m-amirazmi"
    target="_blank"
  >
    <Icon name="mdi:github" />
  </a>
  <a
    class="block h-7 w-7 text-zinc-500 hover:text-teal-700 md:h-8 md:w-8"
    href="mailto:m.amirazmi@hotmail.com"
    target="_blank"
  >
    <Icon name="mdi:email" />
  </a>
</div>
