---
import Header from "@/components/header";
import Footer from "@/components/footer";
import BaseHead from "@/components/base-head";
const { title } = Astro.props;
const generator = Astro.generator;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="Blog Page"
      description="A page to display all our blog posts"
      generator={generator}
    />
  </head>
  <body class="flex flex-col items-start min-h-screen">
    <Header />
    <div class="layout">
      <h1>{title}</h1>
      <main>
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
