---
import Header from "@/components/header";
import Footer from "@/components/footer";
import BaseHead from "@/components/base-head";
interface Props {
  title: string;
  description?: string;
}

const { title = "AA.DEV", description } = Astro.props;
const generator = Astro.generator
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} generator={generator} />
  </head>
  <body class="flex flex-col items-start min-h-screen">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
