---
import Navbar from "../components/Navbar.astro";
import NavbarMain from "../components/NavbarMain.astro";
import NavbarMobile from "../components/NavbarMobile.astro";
import Footer from "../components/Footer.astro";
import "../styles/index.scss";

export interface Props {
	title?: string;
}

const { title = "Amirazmi | Welcome" } = Astro.props;
const { pathname } = Astro.url;
const isHomepage = pathname === "/";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css"
		/>
		<script
			src="https://kit.fontawesome.com/fbbec297e2.js"
			crossorigin="anonymous"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		{isHomepage && <Navbar />}
		<NavbarMain />
		<NavbarMobile />
		<slot />
		<Footer />
		<script define:vars={{ isHomepage }}>
			function showNavbarMainIfNotHomepage() {
				const navbarMainEl = document.querySelector(".navbar-main");
				const navbarMobile = document.querySelector(".navbar-mobile");
				if (!navbarMainEl || isHomepage) return;
				navbarMainEl.classList.remove("navbar-hidden");
				navbarMobile.classList.add("navbar-mobile-sticky");
			}
			showNavbarMainIfNotHomepage();
		</script>
	</body>
</html>
