---
import Header from "@/components/header";
import Footer from "@/components/footer";
import BaseHead from "@/components/base-head";
import type { IPost } from "@/lib/types";
import PostArticle from "@/components/post-article";
import { Image } from "astro:assets";
import { Bookmark, Calendar } from "lucide-react";
import { dateFormat, slugify } from "@/lib/utils";

interface IPostLayout {
  frontmatter: IPost;
}

const { frontmatter } = Astro.props as IPostLayout;
const generator = Astro.generator;
---

<html lang="en">
  <head>
    <BaseHead
      title={frontmatter.title}
      description={frontmatter.description}
      generator={generator}
    />
  </head>
  <body class="flex flex-col items-start min-h-screen">
    <Header />
    <main class="w-full">
      <section class="max-w-6xl mx-auto px-4">
        <PostArticle {...frontmatter}>
          <slot />
        </PostArticle>
      </section>
    </main>
    <Footer />
  </body>
</html>
